@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'General Sans';
  background-color: #F6F7FB;
}
.container{
  width: 95%;
  max-width: 1120px;
}
.tablinks.active{
  @apply bg-slate-900 text-white rounded-[43px]
}
.tablinks.active .icon-active{
  @apply block
}
.tablinks.active .icon-default{
  @apply hidden
}